@import url("https://fonts.googleapis.com/css2?family=Rosario:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



#nav-bar {
  background-color: rgb(0, 0, 0);
}
.nav-text a {
  font-family: 'Rosario', sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;
}
.navbar-toggler-icon div {
  width: 35px;
  height: 5px;
  background-color: rgb(255, 255, 255);
  margin: 6px 0;sssss
}

.container-fluid{
  background-color:black;;
}


/*KOD ZA SLAJDER*/
.blog-card {
  position: relative;
  width: 100%;
  height:50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.blog-title{
  position: absolute;
  font-family: 'Rosario', sans-serif;
  font-weight: bold;
  top:65%;
  transform: translateY(-50%);
  left: 15px;
  width: 90%;
  text-align: left;
  color: #ffffff;
}

.category{
  position: absolute;
  top:25px;
  left:25px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #ffffff;
  padding: 7px;
  border-radius:25px;
}
.date{
  position: absolute;
  font-weight: 300px;
  right:15px;
  bottom: 15px;
  font-size: 20px;
  color: #ffffff;
}
.author{
  position: absolute;
  left:15px;
  bottom:15px;
  font-size: 22px;
  font-weight: 400;
  color: #ffffff;
}

.top-logo{
  background-color: black;
}

.more{
font-family: 'Rosario', sans-serif;
font-style: normal;
font-weight: 700;
font-size:15px;
text-transform: uppercase;
line-height: 13px;
color:rgb(255, 255, 255);
}


/*4 BLOKA KOD*/


.background-4x{
  background-image: linear-gradient(
                      to bottom,
                      rgba(255, 255, 255, 0),
                      rgba(0, 0, 0, 1)
                    ),
                    url('slika1.png');
                  height: 150px;
                  background-size: cover;
}

.blog-title4x{
  position: absolute;
  font-size: 13px;
  font-family: 'Rosario', sans-serif;
  top: 60%;
  transform: translateY(-50%);
  left:10px;
  text-align: left;
  color: #ffffff;
}

.category4x{
  position: absolute;
  font-size: 9px;
  top:10px;
  left:10px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #ffffff;
  padding: 5px;
  border-radius:25px;
}
.date4x{
  position: absolute;
  font-weight: 300px;
  right:5px;
  bottom: 5px;
  font-size: 10px;
  color: #ffffff;
}
.author4x{
  position: absolute;
  left:10px;
  bottom:5px;
  font-size: 10px;
  font-weight: 400;
  color: #ffffff;
}

@media only screen and (max-width: 800px) {
  .bigscreen4x{
    display: none;
  }
  .smallscreen4x{
    display: block;
  }
}

@media only screen and (min-width: 800px) {
  .smallscreen4x{
    display: none;
  }
}