@import url("https://fonts.googleapis.com/css2?family=Rosario:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
}

body{
  background-color: black !important;
}

.aktivniLink{
  border-bottom:1px rgb(255, 255, 255) solid;
}


#nav-bar {
  background-color: rgb(0, 0, 0);
  padding: 0;
}
.nav-item a {
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;
  
}
  nav ul li{
  padding: 6px;
}
.nav-item a:hover{
  color: #979797;
}

.more a:hover{
  color: #979797;
}


.navbar-toggler-icon div {
  width: 35px;
  height: 5px;
  background-color: rgb(255, 255, 255);
  margin: 6px 0;sssss
}



@media (min-width: 1450px){
  .navbar-expand-custom {
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
  }
  .navbar-expand-custom .navbar-nav {
      flex-direction: row;
  }
  .navbar-expand-custom .dropdown-menu {
      position: absolute;
  }
  .navbar-expand-custom .nav-link {
      padding-right: .5rem;
      padding-left: .5rem;
  }
  .navbar-expand-custom > .container {
      flex-wrap: nowrap;
  }
  .navbar-expand-custom .navbar-collapse {
      display: flex!important;
      flex-basis: auto;
  }
  .navbar-expand-custom .navbar-toggler {
      display: none;
  }
}

/*KOD ZA SLAJDER*/

.background-slider{
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(0, 0, 0, 1)
  ),
  url('slika1.png');
height: 500px;
background-size: cover;
display: flex;
flex-direction: column;
justify-content: space-between;
}
.blog-info{
  justify-content: space-between;
}

.blog-title{
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #ffffff;
}

.category{
  font-weight: bold;
  text-transform: uppercase;
  background-color: #ffffff;
  padding: 7px;
  border-radius:25px;
}
.date{
  font-weight: 300px;
  right:15px;
  bottom: 15px;
  font-size: 15px;
  color: #ffffff;
}
.author{
  font-size: 15px;
  font-weight: 400;
  color: #ffffff;
}

.top-logo{
  background-color: black;
}

.more{
  font-family: 'IBM Plex Sans', sans-serif;
font-style: normal;
font-weight: 300;
font-size:15px;

line-height: 13px;
color:rgb(255, 255, 255);
}



/*4 BLOKA KOD*/

.blog-info4x{
  bottom: 0;
}

.background-4x{
  background-image: linear-gradient(
                      to bottom,
                      rgba(255, 255, 255, 0),
                      rgba(0, 0, 0, 1)
                    ),
                    url('slika1.png');
                  height: 150px;
                  
                  background-size: cover;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                 
               
}
.background-4x-cover{
  background-image: linear-gradient(
                      to bottom,
                      rgba(255, 255, 255, 0),
                      rgba(0, 0, 0, 1)
                    ),
                    url('slika1.png');
                  height: 300px;
                  
                  background-size: cover;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                 
               
}

.blog-title-kover{
  font-size: 16px;
  font-family: 'IBM Plex Sans', sans-serif;
  text-align: left;
  color: #ffffff;
  font-weight: 400;
}
.category-kover{
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #ffffff;
  padding: 5px;
  border-radius:25px;
}


.blog-title4x{
  font-size: 13px;
  font-family: 'IBM Plex Sans', sans-serif;
  text-align: left;
  color: #ffffff;
  font-weight: 400;
}
.blog-info4x{
  justify-content: space-between;
}

.category4x{
  font-size: 9px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #ffffff;
  padding: 5px;
  border-radius:25px;
}

.date4x{
  font-weight: 300px;
  font-size: 10px;
  color: #ffffff;
}

.author4x{
  font-size: 10px;
  font-weight: 400;
  color: #ffffff;
}

@media only screen and (max-width: 1200px) {

  .dnone{
    display: none;
  }
  

}
@media only screen and (max-width: 768px) {
.bigscreen4x{
  display: none;

}


}
@media only screen and (min-width: 768px) {
.smallscreen4x{
  display: none;
}
.smallscrh2{
  display:none;
}

  }

@media only screen and (min-width: 1200px) {
  .smallscreen4x{
    display: none;
  }
  .lupica-nav{
    display: none;
  }
  .logo-nav{
    display: none;
  }


}

@media only screen and (max-width: 1200px) {
.top-logo{
  display: none;
} }



/*sidebar*/
.background-side{
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(0, 0, 0, 1) 
  ),
  url('slika1.png');
  height: 100px;
background-size: cover;
}
.sidetext{
  font-family: 'IBM Plex Sans', sans-serif;
font-style: normal;
text-transform: uppercase;
font-weight: 700;
line-height: 26px;
color: #FFFFFF;
}
.title-post-blog{
  font-family: 'IBM Plex Sans', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 46px;
line-height: 60px;

color: #FFFFFF;
}
.p-post-blog{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
font-weight: 400;
color: #FFFFFF;

}
.share-post-blog{
  font-family: 'IBM Plex Sans', sans-serif;
font-weight: 400;
color: #FFFFFF;
font-size: 16px;
}

.share-icons img{
  width: 40px;
}

